<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog: Post details</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" ></script>
    
</head>
<body>
    <h1>Post Details</h1>
    <div>
        <p>title: {{post.title}}</p>
        <p>content: {{post.content}}</p>
        <p>author: {{post.author}}</p>
        <p>datecreated: {{post.date_created}}</p>
    </div>

    <p>
        <a href="{% url 'update' post.id %}" class="btn btn-primary">Update Post</a>
    </p>
    <p>
        <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete Post</a>
    </p>
    <p>
        <a href="{% url 'list' %}" class="btn btn-success">Back to Post lists</a>
    </p>
    
</body>
</html>