<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog: Post details</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" ></script>

    <style>
        body{
            background-image: url("{% static 'images/b.jpg' %}");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

    </style>
    
</head>
<body>
    <div class="container mt-5">

        <h1>Post Details</h1>
        <div>
            <p><p class="fw-bold">title:</p>{{post.title}}</p>
            <p><p class="fw-bold">content:</p>{{post.content}}</p>
            <p><p class="fw-bold">author:</p>{{post.author}}</p>
            <p><p class="fw-bold">datecreated:</p>{{post.date_created}}</p>
        </div>
    
        <div class="btn-group"> 
            <a href="{% url 'update' post.id %}" class="btn btn-primary">Update Post</a>  
            <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete Post</a>
            <a href="{% url 'list' %}" class="btn btn-success">Back to Post lists</a>
        </div>

    </div>
</body>
</html>